<div class="form-container mat-elevation-z5">
  <h1>Regisztráció</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Név" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Név megadása kötelező
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email cím" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email megadása kötelező
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Adj meg egy helyes email címet
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Lakcím" formControlName="lakcim" />
      <mat-error *ngIf="lakcim?.errors?.['required']">
        Lakcím megadása kötelező
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefonszám" formControlName="telefonszam" />
      <mat-error *ngIf="telefonszam?.errors?.['required']">
        Telefonszám megadása kötelező
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Jelszó"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Jelszó megadása kötelező
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Jelszó megerősítése"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Jelszó megerősítése kötelező
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      A jelszónak meg kell egyeznie
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Regisztráció</button>
    </div>
    <span class="center margin-top">Van már fiókod? <a class="sign-up-link" routerLink="/bejelentkezes">Lépj be!</a></span>
  </form>
</div>
