<!-- component -->
<div style="background-color : #f4f4f0" class=" sm:mx-32 lg:mx-32 xl:mx-72 rounded-lg">
  <div class="flex justify-between container mx-auto">
    <div class="w-full">
      <div class="mt-4 px-4">
        <h1 class="text-3xl font-semibold py-2 px-5">Profil</h1>

        <form class="mx-5 my-5">


          <div class="shrink-0 mt-5">
            <img class="h-20 w-20 object-cover rounded-full" src="http://cdn.onlinewebfonts.com/svg/img_364496.png" alt="Current profile photo" />
          </div>
          <label class="block pt-2">
            <span class="sr-only t-2">Válaszd ki a profilképedet</span>
            <input type="file" class="w-full file:cursor-pointer cursor-pointer text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-purple-500 file:text-zinc-900
      hover:file:bg-green-300
    "/>

            <Button class="mt-2 border-2 px-5 py-2 rounded-lg border-black border-b-4 font-black translate-y-2 border-l-4">
              Kép feltöltése
            </Button>
          </label>

          <label class="relative block p-3 border-2 border-black rounded mt-5" htmlFor="name">
  <span class="text-md font-semibold text-zinc-900" htmlFor="name">
    Név
  </span>
            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">Kovács Eszking</p>

          </label>



          <label class="relative block p-3 border-2 mt-5 border-black rounded" htmlFor="name">
  <span class="text-md font-semibold text-zinc-900" htmlFor="name">
    Email
  </span>

            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">sacosmacos43@gmail.com</p>
          </label>


          <label class="relative block p-3 border-2  mt-5 border-black rounded" htmlFor="name">
  <span class="text-md font-semibold  text-zinc-900" htmlFor="name">
    Lakcím
  </span>

            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">6656,Zedország,Keccermeccer utca 34</p>

          </label>

          <label class="relative block p-3 border-2 mt-5 border-black rounded" htmlFor="name">
  <span class="text-md font-semibold  text-zinc-900" htmlFor="name">
    Telefonszám
  </span>


            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">+36308395275</p>

          </label>



          <Button class="mt-5 border-2 px-5 py-2 rounded-lg border-black border-b-4 font-black translate-y-2 border-l-4">
            Adatok megváltoztatása
          </Button>
        </form>
      </div>
    </div>


  </div>
</div>

