<!-- component -->
<div style="background-color : #f4f4f0" class=" sm:mx-32 lg:mx-32 xl:mx-72 rounded-lg" *ngIf="user">
  <div class="flex justify-between container mx-auto" *ngIf="user$ | async as users">
    <div class="w-full">
      <div class="mt-4 px-4">
        <h1 class="text-3xl font-semibold py-2 px-5">Profil</h1>

        <form class="mx-5 my-5">


          <div class="shrink-0 mt-5" >
            <img class="h-20 w-20 object-cover rounded-full" [src]="users.photoURL ?? 'assets/images/image-placeholder.png'" alt="Current profile photo" />
          </div>
          <label class="block pt-2">
            <span class="sr-only t-2">Válaszd ki a profilképedet</span>
            <input #inputField accept=".jpg,.png"  (change)="uploadImage($event,user)" type="file" class="w-full file:cursor-pointer cursor-pointer text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-purple-500 file:text-zinc-900
      hover:file:bg-green-300
    "/>

            <Button (click)="inputField" class="mt-2 border-2 px-5 py-2 rounded-lg border-black border-b-4 font-black translate-y-2 border-l-4">
              Kép feltöltése
            </Button>
          </label>

          <label class="relative block p-3 border-2 border-black rounded mt-5">
  <span class="text-md font-semibold text-zinc-900">
    Név
  </span>
            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">{{user.name}}</p>

          </label>



          <label class="relative block p-3 border-2 mt-5 border-black rounded">
  <span class="text-md font-semibold text-zinc-900">
    Email
  </span>

            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">{{user.email}}</p>
          </label>


          <label class="relative block p-3 border-2  mt-5 border-black rounded">
  <span class="text-md font-semibold  text-zinc-900">
    Lakcím
  </span>

            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">{{user.lakcim}}</p>

          </label>

          <label class="relative block p-3 border-2 mt-5 border-black rounded">
  <span class="text-md font-semibold  text-zinc-900">
    Telefonszám
  </span>


            <p class="w-full bg-transparent p-0 text-sm  text-black-500 focus:outline-none h-1">{{user.telefonszam}}</p>

          </label>






        </form>
        <button routerLink="/update-profile" class="bg-purple-500 hover:bg-green-300 text-black font-bold py-2 px-4 rounded-full mx-5" style="margin-bottom: 30px">
          Adatok megváltoztatása
        </button>
      </div>
    </div>


  </div>

</div>
