
#cim {
  color: white;
  text-align: center;
  margin: 1rem 0;
}

.asd {
  color: white;
}

#kommentek {
  margin: 0 auto;
  max-width: 600px;
  font-size: 18px;
  padding-bottom: 20px;
}

#komment {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;
  max-width: 600px;
  max-height: 200px;
  background-color: #336b34;
  margin-bottom: 30px;
  margin-right: auto;
}

#gomb {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #kommentek {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
