#cim{
  color: white;
  margin-left: 41vw;
}

.asd{
  color: white

}

#kommentek{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 18px;
  padding-bottom: 20px;
}

#komment{
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;
  max-width: 600px;
  max-height: 200px;
  background-color: #336b34;
  margin-bottom: 30px;
  margin-right: auto;
}

#gomb{
  margin-top: 0vw;
  margin-left: 23vw;

}
