<h1 id="cim">Összes komment</h1>
<button id="gomb" class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button" routerLink="/sajat-komment">
  Saját kommentek
</button>
<ul id="kommentek">
  <li *ngFor="let comment of comments" id="komment">
    <p class="asd"><strong>Felhasználónév:</strong> {{ comment.username }}</p>
    <p class="asd"><strong>Termék neve:</strong> {{ comment.productName }}</p>
    <p class="asd"><strong>Komment:</strong> {{ comment.comment }}</p>
    <p class="asd"><strong>Értékelés:</strong> {{ comment.rating }}</p>
  </li>
</ul>


