#cim{
  color: white;
  margin-left: 43vw;
}

.asd{
  color: white

}

#kommentek{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 18px;
}

#komment{
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;
  max-width: 600px;
  max-height: 180px;
  background-color: #336b34;
  margin-bottom: 20px;
  margin-right: auto;
  padding-bottom: 20px;
}

#gomb{
  margin-left: 43vw;
  margin-bottom: 20px;


}

#kommentek{
  padding-bottom: 20px;
}
