<div class="form-container mat-elevation-z5">




  <h1>Bejelentkezés</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email cím" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email cím megadása szükséges
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Egy érvényes email címet adj meg
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Jelszó" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Jelszó megadása szükséges
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Belépés</button>
    </div>
    <span class="center margin-top">Új vagy még? <a class="sign-up-link" routerLink="/regi">Regisztrálj!</a></span>
    <span class="center margin-top"><a class="sign-up-link" routerLink="/regi">Elfelejtetted a jelszavad?</a></span>
  </form>
</div>
