<div *ngFor="let item of cartItems">
  <p *ngIf="item.product.productName2">{{ item.product.productName2 }} - {{ item.product.mennyiseg1 }} darab - {{item.product.ar1}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg1 = item.product.mennyiseg1 + 1; item.product.ar1 = item.product.ar1 + 44390;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg1 > 0" (click)="item.product.mennyiseg1 = item.product.mennyiseg1 - 1; item.product.ar1 = item.product.ar1 - 44390;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"  (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>



  <p *ngIf="item.product.productName1">{{ item.product.productName1 }} - {{ item.product.mennyiseg2 }} darab - {{item.product.ar}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg2 = item.product.mennyiseg2 + 1; item.product.ar = item.product.ar + 40590;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg2 > 0" (click)="item.product.mennyiseg2 = item.product.mennyiseg2 - 1; item.product.ar = item.product.ar - 40590;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>




  <p *ngIf="item.product.productName3">{{ item.product.productName3 }} - {{ item.product.mennyiseg }} darab - {{item.product.ar2}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg = item.product.mennyiseg + 1; item.product.ar2 = item.product.ar2 + 49990;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg > 0" (click)="item.product.mennyiseg = item.product.mennyiseg - 1; item.product.ar2 = item.product.ar2 - 49990;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>

  <p *ngIf="item.product.productName4">{{ item.product.productName4 }} - {{ item.product.mennyiseg3 }} darab - {{item.product.ar3}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg3 = item.product.mennyiseg3 + 1; item.product.ar3 = item.product.ar3 + 103990;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg3 > 0" (click)="item.product.mennyiseg3 = item.product.mennyiseg3 - 1; item.product.ar3 = item.product.ar3 - 103990;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>

  <p *ngIf="item.product.productName5">{{ item.product.productName5 }} - {{ item.product.mennyiseg4 }} darab - {{item.product.ar4}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg4 = item.product.mennyiseg4 + 1; item.product.ar4 = item.product.ar4 + 23890;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg4 > 0" (click)="item.product.mennyiseg4 = item.product.mennyiseg4 - 1; item.product.ar4 = item.product.ar4 - 23890;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>

  <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

  <p *ngIf="item.product.productName6">{{ item.product.productName6 }} - {{ item.product.mennyiseg5 }} darab - {{item.product.ar5}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg5 = item.product.mennyiseg5 + 1; item.product.ar5 = item.product.ar5 + 3691;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg5 > 0" (click)="item.product.mennyiseg5 = item.product.mennyiseg5 - 1; item.product.ar5 = item.product.ar5 - 3691;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>

  <p *ngIf="item.product.productName7">{{ item.product.productName7 }} - {{ item.product.mennyiseg6 }} darab - {{item.product.ar6}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg6 = item.product.mennyiseg6 + 1; item.product.ar6 = item.product.ar6 + 37390;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg6 > 0" (click)="item.product.mennyiseg6 = item.product.mennyiseg6 - 1; item.product.ar6 = item.product.ar6 - 37390;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>


  <p *ngIf="item.product.productName8">{{ item.product.productName8 }} - {{ item.product.mennyiseg7 }} darab - {{item.product.ar7}} Ft
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" style="margin-left: 370px" (click)="item.product.mennyiseg7 = item.product.mennyiseg7 + 1; item.product.ar7 = item.product.ar7 + 9489;helper()">
      +
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2
  py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" *ngIf="item.product.mennyiseg7 > 0" (click)="item.product.mennyiseg7 = item.product.mennyiseg7 - 1; item.product.ar7 = item.product.ar7 - 9489;helper()">
      -
    </button>
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="removeFromCart(item.product)">
      Termék törlése
    </button>
  </p>

</div>








<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


<button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button" (click)="clearCart()">
  Összes törlése
</button>

<button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button">
  Rendelés folytatása
</button>
<button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button" (click)="getTotalPrice()">
  Összár kiszámítása
</button>
<p>Az összes ár: {{ totalPrice }} Ft</p>
