<div style="display: flex;justify-content: center;color: white;font-size: 20px">Mi egy elektronika termékek eladásával foglalkozó webshop vagyunk.</div>
<div style="display: flex;justify-content: center;color: white;font-size: 20px">Nálunk minden terméket megtalálhatsz,és az oldal kezelése könnyű és rugalmas,árérték arányban nálunk jobbat nem találsz!😉</div>

<div style="display: flex;justify-content: center;margin-top: 40px">
  <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-6 py-3 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" routerLink="/shop-menu" routerLinkActive="active-link">
    Irány a termékekhez
  </button>

</div>

