<div class="search-results" *ngIf="products28 && products28.length ">

  <div class="search-result" *ngFor="let product of products28">
    <h3>{{ product.productName15 }}</h3>
    <h3>{{ product.leiras14 }}</h3>
    <h3>{{ product.ar14 }} Ft</h3>
    <h3>{{ rate }}</h3>

    <input type="number" [(ngModel)]="quantity1" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity1)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products29 && products29.length ">

  <div class="search-result" *ngFor="let product of products29">
    <h3>{{ product.productName1 }}</h3>
    <h3>{{ product.leiras }}</h3>
    <h3>{{ product.ar }} Ft</h3>
    <h3>{{ rate2}}</h3>

    <input type="number" [(ngModel)]="quantity" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products30 && products30.length ">

  <div class="search-result" *ngFor="let product of products30">
    <h3>{{ product.productName18 }}</h3>
    <h3>{{ product.leiras17 }}</h3>
    <h3>{{ product.ar17 }} Ft</h3>
    <h3>{{ rate3 }}</h3>

    <input type="number" [(ngModel)]="quantity2" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity2)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products31 && products31.length ">

  <div class="search-result" *ngFor="let product of products31">
    <h3>{{ product.productName9 }}</h3>
    <h3>{{ product.leiras8 }}</h3>
    <h3>{{ product.ar8 }} Ft</h3>
    <h3>{{ rate4 }}</h3>

    <input type="number" [(ngModel)]="quantity3" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity3)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products32 && products32.length ">

  <div class="search-result" *ngFor="let product of products32">
    <h3>{{ product.productName27 }}</h3>
    <h3>{{ product.leiras26 }}</h3>
    <h3>{{ product.ar26 }} Ft</h3>
    <h3>{{ rate5 }}</h3>

    <input type="number" [(ngModel)]="quantity4" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity4)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products33 && products33.length ">

  <div class="search-result" *ngFor="let product of products33">
    <h3>{{ product.productName16 }}</h3>
    <h3>{{ product.leiras15 }}</h3>
    <h3>{{ product.ar15 }} Ft</h3>
    <h3>{{ rate6 }}</h3>

    <input type="number" [(ngModel)]="quantity5" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity5)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products34 && products34.length ">

  <div class="search-result" *ngFor="let product of products34">
    <h3>{{ product.productName19 }}</h3>
    <h3>{{ product.leiras18 }}</h3>
    <h3>{{ product.ar18 }} Ft</h3>
    <h3>{{ rate7 }}</h3>

    <input type="number" [(ngModel)]="quantity6" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity6)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products35 && products35.length ">

  <div class="search-result" *ngFor="let product of products35">
    <h3>{{ product.productName5 }}</h3>
    <h3>{{ product.leiras4 }}</h3>
    <h3>{{ product.ar4 }} Ft</h3>
    <h3>{{ rate8 }}</h3>

    <input type="number" [(ngModel)]="quantity7" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity7)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products36 && products36.length ">

  <div class="search-result" *ngFor="let product of products36">
    <h3>{{ product.productName24 }}</h3>
    <h3>{{ product.leiras23 }}</h3>
    <h3>{{ product.ar23 }} Ft</h3>
    <h3>{{ rate9 }}</h3>

    <input type="number" [(ngModel)]="quantity8" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity8)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products37 && products37.length ">

  <div class="search-result" *ngFor="let product of products37">
    <h3>{{ product.productName20 }}</h3>
    <h3>{{ product.leiras19 }}</h3>
    <h3>{{ product.ar19 }} Ft</h3>
    <h3>{{ rate10 }}</h3>

    <input type="number" [(ngModel)]="quantity9" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity9)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products38 && products38.length ">

  <div class="search-result" *ngFor="let product of products38">
    <h3>{{ product.productName12 }}</h3>
    <h3>{{ product.leiras11 }}</h3>
    <h3>{{ product.ar11 }} Ft</h3>
    <h3>{{ rate11 }}</h3>

    <input type="number" [(ngModel)]="quantity10" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity10)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products39 && products39.length ">

  <div class="search-result" *ngFor="let product of products39">
    <h3>{{ product.productName6 }}</h3>
    <h3>{{ product.leiras5 }}</h3>
    <h3>{{ product.ar5 }} Ft</h3>
    <h3>{{ rate12 }} Ft</h3>

    <input type="number" [(ngModel)]="quantity11" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity11)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products40 && products40.length ">

  <div class="search-result" *ngFor="let product of products40">
    <h3>{{ product.productName4 }}</h3>
    <h3>{{ product.leiras3 }}</h3>
    <h3>{{ product.ar3 }} Ft</h3>
    <h3>{{ rate13 }}</h3>

    <input type="number" [(ngModel)]="quantity12" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity12)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products41 && products41.length ">

  <div class="search-result" *ngFor="let product of products41">
    <h3>{{ product.productName25 }}</h3>
    <h3>{{ product.leiras24 }}</h3>
    <h3>{{ product.ar24 }} Ft</h3>
    <h3>{{ rate14 }}</h3>

    <input type="number" [(ngModel)]="quantity13" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity13)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products42 && products42.length ">

  <div class="search-result" *ngFor="let product of products42">
    <h3>{{ product.productName17 }}</h3>
    <h3>{{ product.leiras16 }}</h3>
    <h3>{{ product.ar16 }} Ft</h3>
    <h3>{{ rate15 }}</h3>

    <input type="number" [(ngModel)]="quantity14" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity14)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products43 && products43.length ">

  <div class="search-result" *ngFor="let product of products43">
    <h3>{{ product.productName10 }}</h3>
    <h3>{{ product.leiras9 }}</h3>
    <h3>{{ product.ar9 }} Ft</h3>
    <h3>{{ rate16 }}</h3>

    <input type="number" [(ngModel)]="quantity15" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity15)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products44 && products44.length ">

  <div class="search-result" *ngFor="let product of products44">
    <h3>{{ product.productName13 }}</h3>
    <h3>{{ product.leiras12 }}</h3>
    <h3>{{ product.ar12 }} Ft</h3>
    <h3>{{ rate17 }}</h3>

    <input type="number" [(ngModel)]="quantity16" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity16)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products45 && products45.length ">

  <div class="search-result" *ngFor="let product of products45">
    <h3>{{ product.productName11 }}</h3>
    <h3>{{ product.leiras10 }}</h3>
    <h3>{{ product.ar10 }} Ft</h3>
    <h3>{{ rate18 }}</h3>

    <input type="number" [(ngModel)]="quantity17" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity17)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products46 && products46.length ">

  <div class="search-result" *ngFor="let product of products46">
    <h3>{{ product.productName2 }}</h3>
    <h3>{{ product.leiras1 }}</h3>
    <h3>{{ product.ar1 }} Ft</h3>
    <h3>{{ rate19 }}</h3>

    <input type="number" [(ngModel)]="quantity18" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity18)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products47 && products47.length ">

  <div class="search-result" *ngFor="let product of products47">
    <h3>{{ product.productName21 }}</h3>
    <h3>{{ product.leiras20 }}</h3>
    <h3>{{ product.ar20 }} Ft</h3>
    <h3>{{ rate20 }}</h3>

    <input type="number" [(ngModel)]="quantity19" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity19)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products48 && products48.length ">

  <div class="search-result" *ngFor="let product of products48">
    <h3>{{ product.productName3 }}</h3>
    <h3>{{ product.leiras2 }}</h3>
    <h3>{{ product.ar2 }} Ft</h3>
    <h3>{{ rate21 }}</h3>

    <input type="number" [(ngModel)]="quantity22" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity22)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products49 && products49.length ">

  <div class="search-result" *ngFor="let product of products49">
    <h3>{{ product.productName7 }}</h3>
    <h3>{{ product.leiras6 }}</h3>
    <h3>{{ product.ar6 }} Ft</h3>
    <h3>{{ rate22 }}</h3>

    <input type="number" [(ngModel)]="quantity23" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity23)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products50 && products50.length ">

  <div class="search-result" *ngFor="let product of products50">
    <h3>{{ product.productName22 }}</h3>
    <h3>{{ product.leiras21 }}</h3>
    <h3>{{ product.ar21 }} Ft</h3>
    <h3>{{ rate23 }}</h3>

    <input type="number" [(ngModel)]="quantity24" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity24)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products51 && products51.length ">

  <div class="search-result" *ngFor="let product of products51">
    <h3>{{ product.productName8 }}</h3>
    <h3>{{ product.leiras7 }}</h3>
    <h3>{{ product.ar7 }} Ft</h3>
    <h3>{{ rate24 }}</h3>

    <input type="number" [(ngModel)]="quantity25" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity25)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products52 && products52.length ">

  <div class="search-result" *ngFor="let product of products52">
    <h3>{{ product.productName14 }}</h3>
    <h3>{{ product.leiras13 }}</h3>
    <h3>{{ product.ar13 }} Ft</h3>
    <h3>{{ rate25 }}</h3>

    <input type="number" [(ngModel)]="quantity26" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity26)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products53 && products53.length ">

  <div class="search-result" *ngFor="let product of products53">
    <h3>{{ product.productName23 }}</h3>
    <h3>{{ product.leiras22 }}</h3>
    <h3>{{ product.ar22 }} Ft</h3>
    <h3>{{ rate26 }}</h3>

    <input type="number" [(ngModel)]="quantity27" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity27)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products54 && products54.length ">

  <div class="search-result" *ngFor="let product of products54">
    <h3>{{ product.productName26 }}</h3>
    <h3>{{ product.leiras25 }}</h3>
    <h3>{{ product.ar25 }} Ft</h3>
    <h3>{{ rate27 }}</h3>

    <input type="number" [(ngModel)]="quantity28" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity28)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<!--&#45;&#45;&#45;&#45;-->


<div class="search-results" *ngIf="products && products.length ">

  <div class="search-result" *ngFor="let product of products">
    <h3>{{ product.productName15 }}</h3>
    <h3>{{ product.leiras14 }}</h3>
    <h3>{{ product.ar14 }} Ft</h3>
    <h3>{{ rate }}</h3>

    <input type="number" [(ngModel)]="quantity1" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity1)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products2 && products2.length ">

  <div class="search-result" *ngFor="let product of products2">
    <h3>{{ product.productName1 }}</h3>
    <h3>{{ product.leiras }}</h3>
    <h3>{{ product.ar }} Ft</h3>
    <h3>{{ rate2 }}</h3>

    <input type="number" [(ngModel)]="quantity" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products3 && products3.length ">

  <div class="search-result" *ngFor="let product of products3">
    <h3>{{ product.productName18 }}</h3>
    <h3>{{ product.leiras17 }}</h3>
    <h3>{{ product.ar17 }} Ft</h3>
    <h3>{{ rate3 }}</h3>

    <input type="number" [(ngModel)]="quantity2" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity2)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products4 && products4.length ">

  <div class="search-result" *ngFor="let product of products4">
    <h3>{{ product.productName9 }}</h3>
    <h3>{{ product.leiras8 }}</h3>
    <h3>{{ product.ar8 }} Ft</h3>
    <h3>{{ rate4 }}</h3>

    <input type="number" [(ngModel)]="quantity3" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity3)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products5 && products5.length ">

  <div class="search-result" *ngFor="let product of products5">
    <h3>{{ product.productName27 }}</h3>
    <h3>{{ product.leiras26 }}</h3>
    <h3>{{ product.ar26 }} Ft</h3>
    <h3>{{ rate5 }}</h3>

    <input type="number" [(ngModel)]="quantity4" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity4)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products6 && products6.length ">

  <div class="search-result" *ngFor="let product of products6">
    <h3>{{ product.productName16 }}</h3>
    <h3>{{ product.leiras15 }}</h3>
    <h3>{{ product.ar15 }} Ft</h3>
    <h3>{{ rate6 }}</h3>

    <input type="number" [(ngModel)]="quantity5" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity5)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products7 && products7.length ">

  <div class="search-result" *ngFor="let product of products7">
    <h3>{{ product.productName19 }}</h3>
    <h3>{{ product.leiras18 }}</h3>
    <h3>{{ product.ar18 }} Ft</h3>
    <h3>{{ rate7 }}</h3>

    <input type="number" [(ngModel)]="quantity6" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity6)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products8 && products8.length ">

  <div class="search-result" *ngFor="let product of products8">
    <h3>{{ product.productName5 }}</h3>
    <h3>{{ product.leiras4 }}</h3>
    <h3>{{ product.ar4 }} Ft</h3>
    <h3>{{ rate8 }}</h3>

    <input type="number" [(ngModel)]="quantity7" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity7)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products9 && products9.length ">

  <div class="search-result" *ngFor="let product of products9">
    <h3>{{ product.productName24 }}</h3>
    <h3>{{ product.leiras23 }}</h3>
    <h3>{{ product.ar23 }} Ft</h3>
    <h3>{{ rate9 }}</h3>

    <input type="number" [(ngModel)]="quantity8" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity8)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products10 && products10.length ">

  <div class="search-result" *ngFor="let product of products10">
    <h3>{{ product.productName20 }}</h3>
    <h3>{{ product.leiras19 }}</h3>
    <h3>{{ product.ar19 }} Ft</h3>
    <h3>{{ rate10 }}</h3>

    <input type="number" [(ngModel)]="quantity9" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity9)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products11 && products11.length ">

  <div class="search-result" *ngFor="let product of products11">
    <h3>{{ product.productName12 }}</h3>
    <h3>{{ product.leiras11 }}</h3>
    <h3>{{ product.ar11 }} Ft</h3>
    <h3>{{ rate11 }}</h3>

    <input type="number" [(ngModel)]="quantity10" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity10)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products12 && products12.length ">

  <div class="search-result" *ngFor="let product of products12">
    <h3>{{ product.productName6 }}</h3>
    <h3>{{ product.leiras5 }}</h3>
    <h3>{{ product.ar5 }} Ft</h3>
    <h3>{{ rate12 }}</h3>

    <input type="number" [(ngModel)]="quantity11" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity11)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products13 && products13.length ">

  <div class="search-result" *ngFor="let product of products13">
    <h3>{{ product.productName4 }}</h3>
    <h3>{{ product.leiras3 }}</h3>
    <h3>{{ product.ar3 }} Ft</h3>
    <h3>{{ rate13 }}</h3>

    <input type="number" [(ngModel)]="quantity12" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity12)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products14 && products14.length ">

  <div class="search-result" *ngFor="let product of products14">
    <h3>{{ product.productName25 }}</h3>
    <h3>{{ product.leiras24 }}</h3>
    <h3>{{ product.ar24 }} Ft</h3>
    <h3>{{ rate14 }}</h3>

    <input type="number" [(ngModel)]="quantity13" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity13)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products15 && products15.length ">

  <div class="search-result" *ngFor="let product of products15">
    <h3>{{ product.productName17 }}</h3>
    <h3>{{ product.leiras16 }}</h3>
    <h3>{{ product.ar16 }} Ft</h3>
    <h3>{{ rate15 }}</h3>

    <input type="number" [(ngModel)]="quantity14" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity14)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products16 && products16.length ">

  <div class="search-result" *ngFor="let product of products16">
    <h3>{{ product.productName10 }}</h3>
    <h3>{{ product.leiras9 }}</h3>
    <h3>{{ product.ar9 }} Ft</h3>
    <h3>{{ rate16 }}</h3>

    <input type="number" [(ngModel)]="quantity15" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity15)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products17 && products17.length ">

  <div class="search-result" *ngFor="let product of products17">
    <h3>{{ product.productName13 }}</h3>
    <h3>{{ product.leiras12 }}</h3>
    <h3>{{ product.ar12 }} Ft</h3>
    <h3>{{ rate17 }}</h3>

    <input type="number" [(ngModel)]="quantity16" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity16)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products18 && products18.length ">

  <div class="search-result" *ngFor="let product of products18">
    <h3>{{ product.productName11 }}</h3>
    <h3>{{ product.leiras10 }}</h3>
    <h3>{{ product.ar10 }} Ft</h3>
    <h3>{{ rate18 }}</h3>

    <input type="number" [(ngModel)]="quantity17" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity17)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products19 && products19.length ">

  <div class="search-result" *ngFor="let product of products19">
    <h3>{{ product.productName2 }}</h3>
    <h3>{{ product.leiras1 }}</h3>
    <h3>{{ product.ar1 }} Ft</h3>
    <h3>{{ rate19 }}</h3>

    <input type="number" [(ngModel)]="quantity18" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity18)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products20 && products20.length ">

  <div class="search-result" *ngFor="let product of products20">
    <h3>{{ product.productName21 }}</h3>
    <h3>{{ product.leiras20 }}</h3>
    <h3>{{ product.ar20 }} Ft</h3>
    <h3>{{ rate20 }} </h3>

    <input type="number" [(ngModel)]="quantity19" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity19)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products21 && products21.length ">

  <div class="search-result" *ngFor="let product of products21">
    <h3>{{ product.productName3 }}</h3>
    <h3>{{ product.leiras2 }}</h3>
    <h3>{{ product.ar2 }} Ft</h3>
    <h3>{{ rate21 }} Ft</h3>

    <input type="number" [(ngModel)]="quantity22" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity22)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products22 && products22.length ">

  <div class="search-result" *ngFor="let product of products22">
    <h3>{{ product.productName7 }}</h3>
    <h3>{{ product.leiras6 }}</h3>
    <h3>{{ product.ar6 }} Ft</h3>
    <h3>{{ rate22 }}</h3>

    <input type="number" [(ngModel)]="quantity23" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity23)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products23 && products23.length ">

  <div class="search-result" *ngFor="let product of products23">
    <h3>{{ product.productName22 }}</h3>
    <h3>{{ product.leiras21 }}</h3>
    <h3>{{ product.ar21 }} Ft</h3>
    <h3>{{ rate23 }}</h3>

    <input type="number" [(ngModel)]="quantity24" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity24)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products24 && products24.length ">

  <div class="search-result" *ngFor="let product of products24">
    <h3>{{ product.productName8 }}</h3>
    <h3>{{ product.leiras7 }}</h3>
    <h3>{{ product.ar7 }} Ft</h3>
    <h3>{{ rate24 }}</h3>

    <input type="number" [(ngModel)]="quantity25" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity25)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products25 && products25.length ">

  <div class="search-result" *ngFor="let product of products25">
    <h3>{{ product.productName14 }}</h3>
    <h3>{{ product.leiras13 }}</h3>
    <h3>{{ product.ar13 }} Ft</h3>
    <h3>{{ rate25 }}</h3>

    <input type="number" [(ngModel)]="quantity26" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity26)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products26 && products26.length ">

  <div class="search-result" *ngFor="let product of products26">
    <h3>{{ product.productName23 }}</h3>
    <h3>{{ product.leiras22 }}</h3>
    <h3>{{ product.ar22 }} Ft</h3>
    <h3>{{ rate26 }}</h3>

    <input type="number" [(ngModel)]="quantity27" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity27)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div class="search-results" *ngIf="products27 && products27.length ">

  <div class="search-result" *ngFor="let product of products27">
    <h3>{{ product.productName26 }}</h3>
    <h3>{{ product.leiras25 }}</h3>
    <h3>{{ product.ar25 }} Ft</h3>
    <h3>{{ rate27 }}</h3>

    <input type="number" [(ngModel)]="quantity28" min="0">
    <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addToCart(product, quantity28)">
      Termék kosárba helyezése
    </button>

  </div>
</div>

<div *ngIf="!(products && products.length) && !(products2 && products2.length) && !(products3 && products3.length)
&& !(products4 && products4.length) && !(products5 && products5.length) && !(products6 && products6.length) &&
!(products7 && products7.length) && !(products8 && products8.length) && !(products9 && products9.length)
&& !(products10 && products10.length) && !(products11 && products11.length) &&
!(products12 && products12.length) && !(products13 && products13.length)
&& !(products14 && products14.length) && !(products15 && products15.length)
&& !(products16 && products16.length) && !(products17 && products17.length)
&& !(products18 && products18.length) && !(products19 && products19.length)
&& !(products20 && products20.length) && !(products21 && products21.length) && !(products22 && products22.length) && !(products23 && products23.length)
&& !(products24 && products24.length) && !(products25 && products25.length) && !(products26 && products26.length)
&& !(products27 && products27.length) && !(products28 && products28.length) && !(products29 && products29.length)
&& !(products30 && products30.length) && !(products31 && products31.length) && !(products32 && products32.length)
&& !(products33 && products33.length) && !(products34 && products34.length) && !(products35 && products35.length)
&& !(products36 && products36.length) && !(products37 && products37.length) && !(products38 && products38.length) && !(products39 && products39.length) && !(products40 && products40.length)
&& !(products41 && products41.length) && !(products42 && products42.length) && !(products43 && products43.length) && !(products44 && products44.length) && !(products45 && products45.length)
&& !(products46 && products46.length) && !(products47 && products47.length) && !(products48 && products48.length) && !(products49 && products49.length) && !(products50 && products50.length)
&& !(products51 && products51.length) && !(products52 && products52.length) && !(products53 && products53.length) && !(products54 && products54.length)">Sajnáljuk,de ilyen termék nem található az oldalon!</div>

