.asd{
  color: white;
  float: right;

}

#egy{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 15px;

  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;

  max-height: 250px;
  background-color: #336b34;
  margin-bottom: 20px;
}

#ketto{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 15px;

  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;

  max-height: 250px;
  background-color: #336b34;
  margin-bottom: 20px;
}

#harom{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 15px;

  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;

  max-height: 250px;
  background-color: #336b34;
  margin-bottom: 20px;
}

#negy{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 15px;

  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;

  max-height: 250px;
  background-color: #336b34;
  margin-bottom: 20px;
}

#ot{
  margin-left: 33vw;
  max-width: 600px;
  font-size: 15px;

  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1.5vw;

  max-height: 250px;
  background-color: #336b34;
  margin-bottom: 20px;
}
