<div *ngFor="let product of products" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName1 }}</p>
  <p>{{ product.leiras }}</p>
  <p>{{ product.ar }} Ft</p>

  <input type="number" [(ngModel)]="quantity" min="0">
  <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="addToCart(product, quantity)">
    Termék kosárba helyezése
  </button>
</div>


<div *ngFor="let product of products9" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName2 }}</p>
  <p>{{ product.leiras1 }}</p>
  <p>{{ product.ar1 }} Ft</p>

  <input type="number" [(ngModel)]="quantity1" min="0">
  <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="addToCart(product, quantity1)">
    Termék kosárba helyezése
  </button>
</div>

<div *ngFor="let product of products10" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName3 }}</p>
  <p>{{ product.leiras2 }}</p>
  <p>{{ product.ar2 }} Ft</p>

  <input type="number" [(ngModel)]="quantity2" min="0">
  <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="addToCart(product, quantity2)">
    Termék kosárba helyezése
  </button>
</div>

<div *ngFor="let product of products11" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName4 }}</p>
  <p>{{ product.leiras3 }}</p>
  <p>{{ product.ar3 }} Ft</p>

  <input type="number" [(ngModel)]="quantity3" min="0">
  <button class="bg-white text-black active:bg-purple-700 font-bold uppercase text-sm px-2 py-1 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="addToCart(product, quantity3)">
    Termék kosárba helyezése
  </button>
</div>

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<div *ngFor="let product2 of products2" [ngStyle]="{'display': selectedProductId == product2.id ? 'block' : 'none'}">
  <p>{{ product2.productName }}</p>
  <p>{{ product2.productName3 }}</p>
  <p>{{ product2.productName2 }}</p>
  <p>{{ product2.category }}</p>
  <p>{{ product2.id }}</p>
</div>

<div *ngFor="let product of products3" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>

<div *ngFor="let product of products4" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>


<div *ngFor="let product of products5" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>

<div *ngFor="let product of products6" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>

<div *ngFor="let product of products7" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>

<div *ngFor="let product of products8" [ngStyle]="{'display': selectedProductId == product.id ? 'block' : 'none'}">
  <p>{{ product.productName }}</p>
  <p>{{ product.category }}</p>
  <p>{{ product.id }}</p>
</div>



